<head>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
</head>
<div class="publico">
  <div class="container">
    <nav>
      <ul>
        <div class="nav-item-1">
          <div class="list-item">
            <li>
              <!--<a href="/profile">Home</a>-->
              <div class="button" id="button-2" style="border:2px solid white; background-color: transparent;">
              <div id="slide"></div>
              <a href="/profile">Home</a>
              </div>
            </li>
          </div>
          <div class="list-item">
            <li>
              <!--<a href="/">Logout</a>-->
              <div class="button" id="button-2" style="border:2px solid white; background-color: transparent;">
              <div id="slide"></div>
              <a href="/">Logout</a>
              </div>
            </li>
          </div>
        </div>

        <div class="nav-item-2">
        <form class="button" action="/users" method="POST" id="button-2" style="border:2px solid white; background-color: transparent">
          <p class="p" style="color: white">SEARCH</p>
          <div id="slide">
            <input id="transp" type="search" placeholder="Search" aria-label="Search" style="font-size: 2em;">
          </div>
        </form>
        <!--<form class="nav-bar-search"action="/users" method="post">
          <input type="search" placeholder="Search" aria-label="Search" name="search">
          <button type="submit">Search</button>
        </form>-->
        </div>
      </ul>
    </nav>
  </div>


  <div class="todo">
    <div class="mapa">
      <div class="tarjeta">
        <h2>Oh hi {{user.name}}</h2>
      </div>
      
    <form action="/profile" method="post" enctype="multipart/form-data">
      <label for="poster">Poster</label>
      <input type="file" name="photo" id="poster">
      <input type="submit" value="save">
    </form>
      
    <form action="/profile" method="POST" enctype="multipart/form-data">
      <label for="title">Title</label>
      <input type="text" name="title" id="title">
      <label for="description">Description</label>
      <input type="text" name="description" id="description">
      <label for="poster">Poster</label>
      <input type="file" name="photo" id="poster">
      <input type="submit" value="save">
    </form>
      <div id='map' style='width: 100%; height:20em;'></div>
      <script src='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
      <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiY2h1Y2E5OSIsImEiOiJjanhtMmNoajcwY2d5M3JtZ2F5am15cnN3In0.bKS7-zBZuo3040BnEcmqkA';
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/dark-v9',
          center: [-99.1566, 19.4204],
          zoom: 14
        })
        map.addControl(new mapboxgl.GeolocateControl({
          positionOptions: {
            enableHighAccuracy: true
          },
          trackUserLocation: true
        }));
      </script>
    </div>
    <div class="posts">
      <form action="/profile" method="post">
      <!--    IMPORTANTE, DARLE MAX HEIGHT PARA QUE NO SE HAGA MUY LARGA-->
        <textarea class="span4" id="new_message" name="content" placeholder="Type in new post" rows="5"></textarea>
        <!--<label for="content">content</label>-->
        <!--<input type="text" name="content" class="content">-->
      <div class="button" id="button-2" style="border:2px solid white; background-color: transparent">
        <p style="color: white">POST</p>
        <div id="slide">
        <input id="transp" type="submit" value="Register">
        </div>
      </div>
        <button class="btn btn-info" type="submit">Post New Comment</button>
        <!--<button type="submit">Post</button>-->
      </form>
      <div class="center-column">
        {{#each post}}
        <div><!--TARJETAS PARA COMENTARIOS -->
          <p class="p" data-="type">@{{this.name}}  </p>
          <p>{{this.content}}</p>

        </div>
        {{/each}}
      </div>
    </div>
    <div class="reproductor">
      <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="380" frameborder="0"
        allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
</div>