<div class="publico">
    <div class="telon">
        <img src="/images/logo.png">
        <a href="/signup"><button>Signup</button></a>
        <a href="/login"><button>Login</button></a>


    </div>
</div>