<div class="publico">
    <div class="telon">
        
        <img src="/images/telonero.png">
        <!--<a href="/signup"><button id="button-2">Signup</button></a>-->
        <div class="button" id="button-2" style="border:2px solid white; background-color: transparent;">
        <div id="slide"></div>
        <a href="/signup">Signup</a>
        </div><br/>
        <div class="button" id="button-2" style="border:2px solid white; background-color: transparent">
        <div id="slide"></div>
        <a href="/login" >Login</a>
        </div>
        


    </div>
</div>
