<head>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />

</head>
<nav class="navbar navbar-light bg-light">
  <form action="/users" method="post">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<div class="todo">
  <div class="mapa">
    <div class="tarjeta">
      <h2>Oh hi {{user.name}}</h2>
      <img src="{{user.profileImg}}">
    </div>
    <form action="/profile/picture" method="post" enctype="multipart/form-data">
      <label for="poster">Poster</label>
      <input type="file" name="photo" id="poster">
      <input type="submit" value="save">
    </form>
    <div id='map' style='width: 400px; height: 300px;'></div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiY2h1Y2E5OSIsImEiOiJjanhtMmNoajcwY2d5M3JtZ2F5am15cnN3In0.bKS7-zBZuo3040BnEcmqkA';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11'
      });
    </script>
  </div>
  <div class="posts">
    <div class="seleccionar">
      <div class="posts">
        Posts
      </div>
      <div class="artistas">
        Artistas recomendados
      </div>
      <div class="musica">
        Musica
      </div>
      <div class="eventos">
        Eventos
      </div>
    </div>
    <form action="/profile" method="post" enctype="multipart/form-data">

      <label for="content">content</label>
      <input type="text" name="content" class="content">
      <input type="file" name="photo" id="poster">
      <button type="submit">Post</button>
    </form>
    {{#each artist}}
    <p>si</p>
    <a href="/users/{{this.id}}"> <img src="{{this.profileImg}}"></a>
    {{/each}}
  </div>
  <div class="reproductor">
    <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="380" frameborder="0"
      allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>
<script src='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>