<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="password">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <div>
    <input type="submit" value="Log in">
  </div>
</form>